<h1>Editing Reservation</h1>

<%= render 'form', restaurant: @restaurant, reservation: @reservation %>

<%= link_to 'Show', [@restaurant, @reservation] %> |
<%= link_to 'Back', restaurant_reservations_path %>
